<!DOCTYPE html>
<div class="header">
    <div class="row">
        <div class="col-4">
            <h1>Password Reset</h1>
        </div>
        <div class="col-4">
            <button class="btn btn-primary profileButton" routerLink="/profile">Profile</button>
        </div>
    </div>
</div>
<body>
    <div class="resetData">
        <div>
            <form>
                <div class="resetRow">
                    <p>Current Password: </p>
                    <input type="text" id="currentPass" placeholder="Current Password">
                </div>
                <div class="resetRow">
                    <p>New Password</p>
                    <input type="text" id="newPass" placeholder="New Password">
                </div>
                <div class="resetRow">
                    <p>Verify New Password</p>
                    <input type="text" id="verifyPass" placeholder="Verify New Password">
                </div>
                    <input type="submit" value="Reset Password" class="btn btn-primary resetButton">
            </form>
        </div>
    </div> 
</body>
