<form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      #nameValue
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
    />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="affiliation">Affiliation</label>
    <select
      class="custom-select form-control"
      #affiliationValue
      (change)="displayAffiliationOptions()"
      formControlName="affiliation"
    >
      <option value="" disabled>Choose your affiliation</option>
      <option
        *ngFor="let affiliation of affiliationOptions"
        [ngValue]="affiliation"
      >
        {{ affiliation }}
      </option>
    </select>
    <div *ngIf="submitted && f.affiliation.errors" class="invalid-feedback">
      <div *ngIf="f.affiliation.errors.required">
        Primary form of contact is required
      </div>
    </div>
  </div>
  <div
    *ngIf="affiliation === 'Undergraduate' || affiliation === 'Graduate'"
    class="form-group"
  >
    <label for="school">School</label>
    <select
      *ngIf="affiliation === 'Undergraduate'"
      class="custom-select form-control"
      #schoolValue
      formControlName="school"
    >
      <option value="" disabled>Choose your sub-affiliation</option>
      <option
        *ngFor="let undergraduateSchool of undergraduateSchools"
        [ngValue]="school"
      >
        {{ undergraduateSchool }}
      </option>
    </select>
    <select
      *ngIf="affiliation === 'Graduate'"
      class="custom-select form-control"
      #subSchoolValue
      formControlName="school"
    >
      <option value="" disabled>Choose your sub-affiliation</option>
      <option *ngFor="let graduateSchool of graduateSchools" [ngValue]="school">
        {{ graduateSchool }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="custom-select form-control" formControlName="category">
      #categoryValue
      <option value="" disabled>Select a category</option>
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category }}
      </option>
    </select>
    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
      <div *ngIf="f.category.errors.required">Category is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      formControlName="description"
      #descriptionValue
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
      rows="8"
    >
    </textarea>
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.description.errors.required">Description is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="limitations">Limitations or restrictions</label>
    <select
      #limitationValue
      class="custom-select form-control"
      (change)="updateLimitation()"
      formControlName="limitations"
    >
      <option value="" disabled>Select an option</option>
      <option *ngFor="let binary of yesOrNo" [ngValue]="binary">
        {{ binary }}
      </option>
    </select>
    <div *ngIf="submitted && f.limitations.errors" class="invalid-feedback">
      <div *ngIf="f.limitations.errors.required">Limitations are required</div>
    </div>
  </div>
  <div *ngIf="limitation === 'Yes'" class="form-group">
    <label for="limitationDescription">Limitation description</label>
    <textarea
      #limitationDescriptionValue
      formControlName="limitationDescription"
      class="form-control"
      rows="3"
    >
    </textarea>
  </div>
  <div class="form-group">
    <label for="primaryContact">Primary contact method</label>
    <select
      #primaryContactValue
      class="custom-select form-control"
      (change)="displayContactInput()"
      formControlName="primaryContact"
    >
      <option value="" disabled>Select a form of contact</option>
      <option *ngFor="let contact of formsOfContact" [ngValue]="contact">
        {{ contact }}
      </option>
    </select>
    <div *ngIf="submitted && f.primaryContact.errors" class="invalid-feedback">
      <div *ngIf="f.primaryContact.errors.required">
        Primary form of contact is required
      </div>
    </div>
  </div>
  <div *ngIf="primaryFormOfContact.length > 0" class="form-group">
    <label for="primaryContactInformation">{{ primaryFormOfContact }}</label>
    <input
      type="text"
      formControlName="primaryContactInformation"
      class="form-control"
      #primaryContactInformationValue
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
    />
    <div
      *ngIf="submitted && f.primaryContactInformation.errors"
      class="invalid-feedback"
    >
      <div *ngIf="f.primaryContactInformation.errors.required">
        {{ primaryFormOfContact }} is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="covidRisk">Covid risk level</label>
    <select class="custom-select form-control" formControlName="covidRisk">
      #covidRiskLevelValue
      <option value="" disabled>Choose your risk level</option>
      <option *ngFor="let riskLevel of riskLevels" [ngValue]="riskLevel">
        {{ riskLevel }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="onSubmit(affiliationValue, schoolValue, subSchoolValue, 
    categoryValue, descriptionValue, limitationValue, limitationDescriptionValue, 
    primaryContactValue, primaryContactInformationValue, covidRiskLevelValue)" >Submit</button>
  </div>
</form>
