<div> <a routerLink="/" class="title">WashU Cares</a> </div>
<div class="pageDescription">
  <h2>Welcome to <b>Washu Cares</b>, the website where WashU community members can post and request mutual aid.</h2>
        <h3>Upon registration you will be forwarded to the home page where posts are displayed. Posts
          are categorized as either offers (i.e. people offering aid) or requests (i.e. people
          looking for aid).
        </h3>
</div>
<div
  class="jumbotron"
  style="
    margin: 0;
    margin-top: 10px;
    margin-left: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
  "
>
  <div class="row">
    <div class="container">
      <div class="col-sm-6 offset-sm-3">
        <h2>Registration</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="onSignUp()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              formControlName="name"
              placeholder="Your full name"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('name').errors &&
                  (registrationForm.get('name').touched ||
                    registrationForm.get('name').dirty)
              }"
            />
            <div
              *ngIf="
                registrationForm.get('name').errors &&
                registrationForm.get('name').touched
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('name').errors.required">
                Name is required
              </div>
              <div *ngIf="registrationForm.get('name').errors.minlength">
                {{ registrationForm.get("name").value.length }}/5
                characters required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input
              type="text"
              (change) = "formatForUser()"
              formControlName="phoneNumber"
              placeholder="XXX-XXX-XXXX"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                registrationForm.get('phoneNumber').errors &&
                  (registrationForm.get('phoneNumber').touched ||
                  registrationForm.get('phoneNumber').dirty)
              }"
            />
            <div
              *ngIf="
              registrationForm.get('phoneNumber').errors &&
              registrationForm.get('phoneNumber').touched
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('phoneNumber').errors.required">
                Phone number is required
              </div>
              <div *ngIf="registrationForm.get('phoneNumber').errors.pattern">
                Phone number must be 10 digits & formatted as XXX-XXX-XXXX
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              class="form-control"
              placeholder="Include information such as your class, school, major, and a brief description of what you are offering or looking for. Also, what is your preferred way of contact and what times might be best to contact you."
              [ngClass]="{
                'is-invalid':
                registrationForm.get('description').errors &&
                  (registrationForm.get('description').touched ||
                  registrationForm.get('description').dirty)
              }"
              rows="4"
            >
            </textarea>
            <div
              *ngIf="
              registrationForm.get('description').errors &&
                (registrationForm.get('description').touched ||
                registrationForm.get('description').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('description').errors.required">
                Description is required
              </div>
              <div *ngIf="registrationForm.get('description').errors.minlength">
                {{ registrationForm.get("description").value.length }}/30
                characters required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('email').errors &&
                  (registrationForm.get('email').touched ||
                    registrationForm.get('email').dirty)
              }"
            />
            <div
              *ngIf="
                registrationForm.get('email').errors &&
                registrationForm.get('email').touched
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('email').errors.required">
                Email is required
              </div>
              <div *ngIf="registrationForm.get('email').errors.emailDomain">
                Must be a WUSTL email
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('password').errors &&
                  (registrationForm.get('password').touched ||
                    registrationForm.get('password').dirty)
              }"
            />
            <div
              *ngIf="
                registrationForm.get('password').errors &&
                (registrationForm.get('password').touched ||
                  registrationForm.get('password').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('password').errors.required">
                Password is required
              </div>
              <div *ngIf="registrationForm.get('password').errors.minlength">
                Password must be at least 8 characters required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwordRepetition">Repeat your password</label>
            <input
              type="password"
              formControlName="passwordRepetition"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('passwordRepetition').errors &&
                  (registrationForm.get('passwordRepetition').touched ||
                    registrationForm.get('passwordRepetition').dirty)
              }"
            />
            <div
              *ngIf="
                registrationForm.get('passwordRepetition').errors &&
                (registrationForm.get('passwordRepetition').touched ||
                  registrationForm.get('passwordRepetition').dirty)
              "
              class="invalid-feedback"
            >
              <div
                *ngIf="
                  registrationForm.get('passwordRepetition').errors.required
                "
              >
                You must repeat your password
              </div>
              <div *ngIf="f.passwordRepetition.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
          <div *ngIf="!selectedFirstQuestion" class="form-group">
            <label for="securityQuestion1">Security question 1</label>
            <select
              class="custom-select form-control"
              (change) = "selectedFirstQuestion = true"
              formControlName="securityQuestion1"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('securityQuestion1').errors &&
                  (registrationForm.get('securityQuestion1').touched ||
                  registrationForm.get('securityQuestion1').dirty)
              }"
            >
              <option value="" disabled></option>
              <option
                *ngFor="let question of firstQuestions"
                [ngValue]="question"
              >
                {{ question }}
              </option>
            </select>
            <div
              *ngIf="
                registrationForm.get('securityQuestion1').errors &&
                (registrationForm.get('securityQuestion1').touched ||
                  registrationForm.get('securityQuestion1').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('securityQuestion1').errors.required">
                You must select a security question
              </div>
            </div>
          </div>
          <div *ngIf="selectedFirstQuestion" class="form-group">
            <label for="securityQuestion1Answer">{{registrationForm.getRawValue().securityQuestion1}}</label>
            <input
              type="password"
              formControlName="securityQuestion1Answer"
              class="formwidth form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('securityQuestion1Answer').errors &&
                  (registrationForm.get('securityQuestion1Answer').touched ||
                    registrationForm.get('securityQuestion1Answer').dirty)
              }"
            />
            <a class="buttonwidth btn btn-link" (click)="changeFirstQuestion()">Change</a>
            <div
              *ngIf="
                registrationForm.get('securityQuestion1Answer').errors &&
                (registrationForm.get('securityQuestion1Answer').touched ||
                  registrationForm.get('securityQuestion1Answer').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('securityQuestion1Answer').errors.required">
                You must provide an answer
              </div>
            </div>
          </div>
          <div *ngIf="!selectedSecondQuestion" class="form-group">
            <label for="securityQuestion2">Security question 2</label>
            <select
              class="custom-select form-control"
              (change) = "selectedSecondQuestion = true"
              formControlName="securityQuestion2"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('securityQuestion2').errors &&
                  (registrationForm.get('securityQuestion2').touched ||
                  registrationForm.get('securityQuestion2').dirty)
              }"
            >
              <option value="" disabled></option>
              <option
                *ngFor="let question of secondQuestions"
                [ngValue]="question"
              >
                {{ question }}
              </option>
            </select>
            <div
              *ngIf="
                registrationForm.get('securityQuestion2').errors &&
                (registrationForm.get('securityQuestion2').touched ||
                  registrationForm.get('securityQuestion2').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('securityQuestion2').errors.required">
                You must select a security question
              </div>
            </div>
          </div>
          <div *ngIf="selectedSecondQuestion" class="form-group">
            <label for="securityQuestion2Answer">{{registrationForm.getRawValue().securityQuestion2}}</label>
            <input
              type="password"
              formControlName="securityQuestion2Answer"
              class="formwidth form-control"
              [ngClass]="{
                'is-invalid':
                  registrationForm.get('securityQuestion2Answer').errors &&
                  (registrationForm.get('securityQuestion2Answer').touched ||
                    registrationForm.get('securityQuestion2Answer').dirty)
              }"
            />
            <a class="buttonwidth btn btn-link" (click)="changeSecondQuestion()">Change</a>
            <div
              *ngIf="
                registrationForm.get('securityQuestion2Answer').errors &&
                (registrationForm.get('securityQuestion2Answer').touched ||
                  registrationForm.get('securityQuestion2Answer').dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="registrationForm.get('securityQuestion2Answer').errors.required">
                You must provide an answer
              </div>
            </div>
          </div>
          <div class="form-group">
            <button
              [disabled]="loading || registrationForm.invalid"
              class="btn btn-primary"
            >
              Register
            </button>
            <a routerLink="" class="btn btn-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var email = emailSignUpValue.value;
  var password = password.value;

  //Create User with Email and Password
  firebase
    .auth()
    .createUserWithEmailAndPassword(email, password)
    .catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      console.log(errorCode);
      console.log(errorMessage);
    });

  
</script>
<link rel= "preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<style>
  .pageDescription{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Poiret One';
    padding-top: 130px;
    color: #0f4c5c;
  }
   .title {
    font-family: 'Poiret One';
    margin: 0 auto;
    font-size: 50px;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px; 
    background-color: #0f4c5c;
    width: 100%;
    height: 100px;
    position: absolute; 
    color: white !important;
   }
   .formwidth{
     width: 85%;
     display: inline-block;
   }
   .buttonwidth{
     width: 15%
   }
</style>
