.regNav {
    background-color: lightblue;
    padding-top: 0;
    margin-top: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    z-index: 500;
  }

  .coloredLine {
    background-color: #444;
    height: 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .title {
    color: rgb(0, 48, 111);
    font-size: 30px;
    text-shadow: 2px 2px white;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
  }