<!DOCTYPE html>
<div id="header">
<p>Placeholder for img</p>
<h1>Username's Profile</h1>
<button id="homeButton">Home</button>
</div>
<body>
    <p>Contact Details</p>
    <div>
        <form>
            <input type="text" id="emailProfile" value="email address">
            <input type="text" id="phoneProfile" value="phone number"><br>
            <label for="descriptionProfile">Description</label><br>
            <input type="text" id="descriptionProfile" value="Type your description here"><br>
            <input type="submit" value="Edit Profile">
        </form>
    </div>
</body>