<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="padding">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="keyword">Key Words</label>
        <input
          type="text"
          class="form-control"
          formControlName="keyword"
          [ngClass]="{
            'is-invalid':
              filterForm.get('keyword').errors &&
              (filterForm.get('keyword').touched || filterForm.get('keyword').dirty)
          }"
        />
        <div *ngIf="filterForm.get('keyword').errors" class="invalid-feedback">
          Maximum {{ maxKeyWordLength }} characters
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="custom-select form-control" formControlName="category">
          <option value=""></option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="affiliation">Affiliation</label>
        <select
          class="custom-select form-control"
          (change)="displayAffiliationOptions()"
          formControlName="affiliation"
        >
          <option value=""></option>
          <option
            *ngFor="let affiliation of affiliationOptions"
            [ngValue]="affiliation"
          >
            {{ affiliation }}
          </option>
        </select>
      </div>
      <div *ngIf="affiliation === 'Undergraduate'" class="form-group">
        <label for="school">School</label>
        <select
          class="custom-select form-control"
          formControlName="school"
        >
          <option value="" disabled>Select a school</option>
          <option
            *ngFor="let school of undergraduateSchools"
            [ngValue]="school"
          >
            {{ school }}
          </option>
        </select>
      </div>
      <div *ngIf="affiliation === 'Graduate'" class="form-group">
        <label for="school">School</label>
        <select
          class="custom-select form-control"
          formControlName="school"
        >
          <option value="" disabled></option>
          <option *ngFor="let school of graduateSchools" [ngValue]="school">
            {{ school }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="limitations">Limitations or restrictions</label>
        <select class="custom-select form-control" formControlName="limitations">
          <option value=""></option>
          <option *ngFor="let binary of yesOrNo" [ngValue]="binary">
            {{ binary }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="covidRisk">Covid risk level</label>
        <select class="custom-select form-control" formControlName="covidRisk">
          <option value=""></option>
          <option *ngFor="let riskLevel of riskLevels" [ngValue]="riskLevel">
            {{ riskLevel }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<div id="main">
  <nav class="customNav col-12 md">
    <div class="coloredLine"></div>
    <div class="row">
      <span class="col-2">
        <button id="openButton" class="openbtn" (click)="openNav()">
          &#9776; Filter Posts
        </button>
      </span>
      <span class="col-4"> <a routerLink="/home" class="title">WashU Cares</a> </span>
      <span class="col-1">
        <button class="openbtn" routerLink="/addListing">Post</button>
      </span>
      <span class="col-1">
        <button class="openbtn" routerLink="/mailbox">Mailbox</button>
      </span>
      <span class="col-1">
        <button class="openbtn" routerLink="/profile">Profile</button>
      </span>
      <span class="col-1">
        <button class="openbtn" routerLink="">Logout</button>
      </span>
    </div>
  </nav>
  <div class="posts">
    <mat-card
      class="margin"
      *ngFor="let item of items"
      (click)="openPost(item)"
    >
      <mat-card-title class="postTitle">
        {{ item.category }}
      </mat-card-title>
      <mat-card-content>
        {{ item.name }}
      </mat-card-content>
      <mat-card-content>
        {{ item.school }}
        {{ item.affiliation }}
      </mat-card-content>
      <mat-card-content class="postDescription">
        {{ item.description }}
      </mat-card-content>
      <mat-card-content class="limitationDescription">
        {{ item.limitationDescription }}
      </mat-card-content>
      <mat-card-content>
        {{ item.primaryContactInformation }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Modal -->
<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-header center">{{ selectedCategory }} opportunity.</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="selectedAffiliation == 'Faculty or Staff'">
          Posted by: {{ selectedPerson }}, a member of faculty or staff.
        </p>
        <p *ngIf="selectedAffiliation !== 'Faculty or Staff'">
          Posted by: {{ selectedPerson }}, a student at the
          {{ selectedSchool }} {{ selectedAffiliation }} school.
        </p>
        <p>Description: {{ selectedDescription }}</p>
        <p *ngIf="selectedLimitationDescription !== ''">
          You must be able to comply with the following restriction(s) or
          limitation(s):
          {{ selectedLimitationDescription }}
        </p>
        <!--TODO: Be able to add images <p>Images:</p>-->
        <!--TODO: Have a request contact information button.-->
        <button class="btn btn-primary center">
          Request contact information
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<style
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
>
  /*Collapsable sideabar taken from: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
  .center {
    margin: 0 auto;
    text-align: center;
  }

  .modal.show {
    display: block;
  }

  mat-card-content {
    margin-bottom: 1%;
  }

  mat-card-title {
    margin-bottom: 2%;
  }

  .postTitle {
    font-size: 150%;
    color: black;
    font-family: sans-serif;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  }

  .postDescription {
    font-size: 120%;
  }

  .limitationDescription {
    font-size: 110%;
    color: red;
  }

  .customNav {
    background-color: lightblue;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 500;
  }

  .margin {
    width: 50%;
    margin: 0 auto;
    border: 1px black solid;
    margin-bottom: 1%;
    padding: 1%;
  }

  .margin:hover {
    cursor: pointer;
    background-color: rgb(228, 236, 238);
  }

  .coloredLine {
    background-color: #444;
    height: 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  mat-card {
    padding-bottom: 35px;
  }

  .padding {
    padding: 10px;
  }

  .nomargin {
    margin-left: 0;
    padding-left: 0;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lightblue;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .title {
    color: rgb(0, 48, 111);
    font-size: 30px;
    text-shadow: 2px 2px white;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0 auto;
  }

  .openbtn:hover {
    background-color: #444;
  }

  .posts {
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }

  .cards {
    padding-left: 20px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    padding: 0px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
</style>
