


<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="padding">
    <form [formGroup]="filterForm">
      <div class="form-group">
        <label for="postOrRequest">What are you looking for?</label>
        <select
          class="custom-select form-control"
          (change) = "resetUniqueValues()"
          formControlName="postOrRequest"
        >
          <option value="" disabled></option>
          <option
            *ngFor="let option of postOrRequestOptions"
            [ngValue]="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
      <div *ngIf="hasSelectedType">
        <div class="form-group">
          <label for="category">Category</label>
          <select (change)="onSubmit()" class="custom-select form-control" formControlName="category">
            <option value=""></option>
            <option *ngFor="let category of categories" [ngValue]="category">
              {{ category }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="affiliation">Affiliation</label>
          <select
            class="custom-select form-control"
            (change)="displayAffiliationOptions()"
            formControlName="affiliation"
          >
            <option value=""></option>
            <option
              *ngFor="let affiliation of affiliationOptions"
              [ngValue]="affiliation"
            >
              {{ affiliation }}
            </option>
          </select>
        </div>
        <div *ngIf="affiliation === 'Undergraduate'" class="form-group">
          <label for="school">School</label>
          <select
            class="custom-select form-control"
            formControlName="school"
            (change)="onSubmit()"
          >
            <option value="" disabled></option>
            <option
              *ngFor="let school of undergraduateSchools"
              [ngValue]="school"
            >
              {{ school }}
            </option>
          </select>
        </div>
        <div *ngIf="affiliation === 'Graduate'" class="form-group">
          <label for="school">School</label>
          <select
            class="custom-select form-control"
            (change)="onSubmit()"
            formControlName="school"
          >
            <option value="" disabled></option>
            <option *ngFor="let school of graduateSchools" [ngValue]="school">
              {{ school }}
            </option>
          </select>
        </div>
        <div *ngIf="filterForm.getRawValue().postOrRequest == 'Posts'" class="form-group">
          <label for="limitations">Limitations or restrictions</label>
          <select (change)="onSubmit()" class="custom-select form-control" formControlName="limitations">
            <option value=""></option>
            <option *ngFor="let binary of yesOrNo" [ngValue]="binary">
              {{ binary }}
            </option>
          </select>
        </div>
        <div *ngIf="filterForm.getRawValue().postOrRequest == 'Posts'" class="form-group">
          <label for="covidRisk">Covid risk level</label>
          <select (change)="onSubmit()" class="custom-select form-control" formControlName="covidRisk">
            <option value=""></option>
            <option *ngFor="let riskLevel of riskLevels" [ngValue]="riskLevel">
              {{ riskLevel }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button (click)="clearFormFields()" class="btn btn-primary">Clear filters</button>
      </div>
    </form>
  </div>
</div>

<div id="main">
  <nav class="customNav col-12 md">
    <div class="coloredLine"></div>
    <div class="row">
      <span class="col-2">
        <button id="openButton" class="openbtn" (click)="openNav()">
          &#9776; Filter
        </button>
      </span>
      <span class="col-4"> <a routerLink="/home" class="title">WashU Cares</a> </span>
      <span class="col-1">
        <button class="openbtn" routerLink="/addListing">Post</button>
      </span>
      <span class="col-1">
        <button class="openbtn" [ngClass]="{ showRed: unreadMessage }" routerLink="/mailbox">Mailbox</button>
      </span>
      <span class="col-1">
        <button class="openbtn" routerLink="/profile">Profile</button>
      </span>
      <span class="col-1">
        <button class="openbtn" routerLink="">Logout</button>
      </span>
    </div>
  </nav>
  <div class="posts" *ngIf="loading">
    Loading...
  </div>
  <!-- <div class="card-deck" style="padding: 16px 16px 16px 8px" fxLayout="row wrap" style="display: flex;"> -->
  
    <div class="pageDescription">
      <h2>Welcome to <b>Washu Cares</b>, the website where WashU community members can post and request mutual aid.</h2>
            <h3>Posts are categorized as either offers (i.e. people offering aid) or requests (i.e. people
              looking for aid).
            </h3>
    </div>
  
    <div class="card-deck">

  <div class="posts" *ngIf="!loading">
    <mat-card
      *ngFor="let item of items"
      (click)="openPost(item)"
      class="margin"
    >
      <div *ngIf="item.post == 'true'">
        <mat-card-title class="postTitle">
        Offer: {{ item.category }}
      </mat-card-title>
      </div>
      <div *ngIf="item.post == 'false'">
        <mat-card-title class="postTitle">
          Request: {{ item.category }}
        </mat-card-title>
      </div>
      <b>Details</b>
      <mat-card-content class="postDescription">
        {{ item.description }}
      </mat-card-content>
      <b>Additional Info</b>
      <mat-card-content class="limitationDescription">
        {{ item.limitationDescription }}
      </mat-card-content>
      <mat-card-content>
        {{ item.name }}
      </mat-card-content>
      <mat-card-content class="school">
        {{ item.school }}
        {{ item.affiliation }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>

<!-- Modal -->
<div
  id="myModal"
  class="modal fade"
  role="dialog"
  [ngClass]="{ show: showModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-header center">Assistance Provider: {{ selectedCategory }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>Description: {{ selectedDescription }}</p>
        <p *ngIf="selectedLimitationDescription !== ''">
          You must be able to comply with the following restriction(s) or
          limitation(s):
          {{ selectedLimitationDescription }}
        </p>
        <p *ngIf="selectedAffiliation == 'Faculty or Staff'">
          Posted by: {{ selectedPerson }}, a member of faculty or staff.
        </p>
        <p *ngIf="selectedAffiliation !== 'Faculty or Staff'">
          Posted by: {{ selectedPerson }}, a student at the
          {{ selectedSchool }} {{ selectedAffiliation }} school.
        </p>
        <!--TODO: Be able to add images <p>Images:</p>-->
        <button class="btn btn-primary center" *ngIf = "!isOwnPost" (click)="ableToRequestInformation()">
          Request contact information
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<link rel= "preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<style
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
>

  /*Collapsable sideabar taken from: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
  .center {
    margin: 0 auto;
    text-align: center;
  }

  .pageDescription{
    font-size: 20px; 
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: sans-serif;
    padding-top: 130px;
    color:black;
  }

  .modal.show {
    display: block;
  }

  .openbtn.showRed{
    background-color: darkred;
  }

  mat-card-content {
    /* margin-bottom: 1%;
    margin-top: 1%; */
    font-size: 20px;
  }

  mat-card-title {
    margin-bottom: 2%;
    font-weight: bold;
  }

  .postTitle {
    font-size: 150%;
    color: black;
    font-family: sans-serif;
  }

  .postDescription {
    font-size: 120%;
  }

  .limitationDescription {
    font-size: 110%;
    color: darkred;
  }

  .school {
    font-style: italic;
  }

  .customNav {
    background-color: #0f4c5c;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 500;
  }

  label{
    color: white; 
  }

  .margin {
    border: 1px lightgrey solid;
    margin-bottom: 1%;
    padding: 1%;
  }

  .margin:hover {
    cursor: pointer;
    background-color: rgb(228, 236, 238);
  }

  .coloredLine {
    background-color: #0f4c5c;
    height: 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .padding {
    padding: 10px;
  }

  .nomargin {
    margin-left: 0;
    padding-left: 0;
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0f4c5c;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0f4c5c;
    color: white; 
    padding: 30px 25px;
    border: none;
  }


  .title {
    font-family: 'Poiret One';
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 65px;
  }

  .openbtn:hover {
    /* background-color: #8b8c89; */
    height: 100px; 
  }

  mat-card{
    width: calc(50% - 20px);
    max-height: min-content;
    margin-top: 50px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }

  .posts {
    flex-wrap: wrap;
    display: flex; 
    justify-content: space-around;
    margin-top: 70px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  .cards {

    padding-left: 20px;
    padding-right: 20px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.5s; /* If you want a transition effect */
    padding: 0px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
    body{
      margin-top: 100px;
    }
  }

  @media screen and (max-width: 655px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
    .openbtn {
        font-size: 15px;
        padding: 10px;
        margin-left: 0px;
      }
    body{
      margin-top: 100px;
    }
  }

  @media only screen and (max-width: 767.98px) {
    mat-card {
        width:100% !important;
      }
    .posts {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    .openbtn {
        font-size: 10px;
        padding: 5px;
        margin-left: 5px;
      }

    .title {
      font-size: 15px;
      padding-left: 1px;
      }

    body{
      margin-top: 100px !important;
    }
    .openbtn:hover {
    /* background-color: #8b8c89; */
    height: 10px; 
    }

    .col-4 {
      max-width: 15%;
    }

    .col-1 {
      max-width: 15%;
    }
  
    .openbtn .col-1{
      overflow: hidden;
    }

  } 
</style>
