<nav class="customNav col-12 md">
  <div class="coloredLine"></div>
  <div class="row">
    <span class="col-2"> </span>
    <!-- <span *ngIf="button == 'profile' || button == 'home'" class="col-4"> <a routerLink="/home" class="title">WashU Cares</a>  </span> -->
    <!-- <span *ngIf="button !== 'profile' && button !== 'home'" class="col-4"> <p class="title">WashU Cares</p>  </span> -->
    <!-- <span *ngIf="button == 'home'" class="col-1"> -->
      <span class="col-4"> <a routerLink="/home" class="title">WashU Cares</a> </span>
      <button class="openbtn" routerLink="/home">Home</button>
    <!-- </span> -->
    <!-- <span *ngIf="button == 'profile'" class="col-1"> -->
      <button class="openbtn" routerLink="/addListing">Post</button>
    <!-- </span> -->
    <!-- <span *ngIf="button == 'profile'" class="col-1"> -->
      <button class="openbtn" routerLink="/profile">Profile</button>
    <!-- </span> -->
    <!-- <span *ngIf="button == 'profile' || button == 'home'" class="col-1"> -->
      <button class="openbtn" routerLink="/mailbox">Mailbox</button>
    <!-- </span> -->
    <!-- <span *ngIf="button == 'profile' || button == 'home'" class="col-1"> -->
      <button class="openbtn" routerLink="">Logout</button>
    <!-- </span> -->
  </div>
</nav>
<link rel= "preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<style>
.customNav {
    background-color: #0f4c5c;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 500;
  }

  .coloredLine {
    background-color: #0f4c5c;
    height: 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0f4c5c;
    color: white; 
    padding: 30px 25px;
    border: none;
    margin-left: 75px;
  }

  .title {
    font-family: 'Poiret One';
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 65px;
  }

  @media only screen and (max-width: 767.98px) {
      .openbtn {
        font-size: 10px;
        padding: 5px;
        margin-left: 5px;
      }
      .col-2 {
        display:none;
      }

      .title {
        font-size: 15px;
        padding-left: 1px;
      }

      .col-1 {
        max-width: 15%;
      }
      .col-4 {
        max-width: 20%;
      }
  }

  @media screen and (max-width: 1200px) and (min-width: 767.99px) {
    .openbtn {
        font-size: 20px;
        padding: 5px;
        margin-left: 5px;
      }
      .col-2 {
        display:none;
      }

      .title {
        font-size: 30px;
        padding-left: 1px;
      }

      .col-1 {
        max-width: 15%;
      }
      .col-4 {
        max-width: 20%;
      }
  }
</style>
