<header-component button="profile"></header-component>
<div class="rowMailBox">
  <div class="column">
    <label for="postDiv">Your Posts</label>
    <div class="postDiv">
      <div class="posts">
        <div *ngIf="noPosts">
          <p>
            You do not have any posts yet. If you wish to add one go click
            below:
          </p>
          <button class="btn btn-primary bottomMargin" routerLink="/addListing">
            Create listing
          </button>
        </div>
        <mat-card class="margin" *ngFor="let item of items">
          <mat-card-title class="postTitle">
            {{ item.category }}
          </mat-card-title>
          <mat-card-content>
            {{ item.school }}
            {{ item.affiliation }}
          </mat-card-content>
          <mat-card-content class="postDescription">
            {{ item.description }}
          </mat-card-content>
          <mat-card-content class="limitationDescription">
            {{ item.limitationDescription }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="column">
    <label for="messageDiv">Pending Messages</label><br />
    <div class="messageDiv"></div>
  </div>
</div>
