<!DOCTYPE html>
<div class="header">
    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary mailboxHomeButton" routerLink="/home">Home</button>
        </div>
        <div class="col-4">
            <h1>Username's Mailbox</h1>
        </div>
        <div class="col-4">
            <button class="btn btn-primary mailboxProfileButton" routerLink="/profile">Profile</button>
        </div>
    </div>
</div>
<body>
    <div class="rowMailBox">
            <div class="column">
                <label for="postDiv">Your Posts</label><br>
                <div class="postDiv"></div>
            </div>   
            <div class="column">    
                <label for="messageDiv">Pending Messages</label><br>
                <div class="messageDiv"></div>
            </div> 
    </div> 
</body>
