<div> <a routerLink="" class="title">WashU Cares</a> </div>
<div
  class="jumbotron"
  style="
    margin: 0;
    margin-top: 10px;
    margin-left: 0 auto;
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: white;
  "
>
  <div class="row">
    <div class="container">
      <div class="col-sm-6 offset-sm-3">
        <h2>Reset password</h2>
        <!-- <form *ngIf="!emailIsVerified" [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail()"> -->
          <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail()">
            <div class="form-group">
              <label for="username">Verify your email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                  verifyEmailForm.get('email').errors &&
                    (verifyEmailForm.get('email').touched ||
                    verifyEmailForm.get('email').dirty)
                }"
              />
              <div
                *ngIf="
                verifyEmailForm.get('email').errors &&
                verifyEmailForm.get('email').touched"
                class="invalid-feedback"
              >
                <div *ngIf="verifyEmailForm.get('email').errors.required">
                    Email is required
                </div>
                <div *ngIf="verifyEmailForm.get('email').errors.emailDomain">
                    Must be a WUSTL email
                  </div>
              </div>
            </div>
            <button class="btn btn-primary" [disabled]="verifyEmailForm.invalid">
                Verify
              </button>
        </form>
        <!-- <form *ngIf="emailIsVerified" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <label for="securityQuestion">Select a question to answer</label>
                <select
                  class="custom-select form-control"
                  (change) = "selectedSecurityQuestion = true"
                  formControlName="securityQuestion"
                  [ngClass]="{
                    'is-invalid':
                    resetPasswordForm.get('securityQuestion').errors &&
                      (resetPasswordForm.get('securityQuestion').touched ||
                      resetPasswordForm.get('securityQuestion').dirty)
                  }"
                >
                  <option value="" disabled></option>
                  <option
                    *ngFor="let question of securityQuestions"
                    [ngValue]="question"
                  >
                    {{ question }}
                  </option>
                </select>
                <div
                  *ngIf="
                  resetPasswordForm.get('securityQuestion').errors &&
                    (resetPasswordForm.get('securityQuestion').touched ||
                    resetPasswordForm.get('securityQuestion').dirty)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="resetPasswordForm.get('securityQuestion').errors.required">
                    You must select a security question to answer
                  </div>
                </div>
            </div>
            <div class="form-group" *ngIf="selectedSecurityQuestion">
                <label for="answer">Answer</label>
                <input
                  type="password"
                  formControlName="answer"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                    resetPasswordForm.get('answer').errors &&
                      (resetPasswordForm.get('answer').touched ||
                      resetPasswordForm.get('answer').dirty)
                  }"
                />
                <div
                  *ngIf="
                  resetPasswordForm.get('answer').errors &&
                  resetPasswordForm.get('answer').touched"
                  class="invalid-feedback"
                >
                  <div *ngIf="resetPasswordForm.get('answer').errors.required">
                      You must provide an answer
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                    resetPasswordForm.get('password').errors &&
                      (resetPasswordForm.get('password').touched ||
                      resetPasswordForm.get('password').dirty)
                  }"
                />
                <div
                  *ngIf="
                  resetPasswordForm.get('password').errors &&
                    (resetPasswordForm.get('password').touched ||
                    resetPasswordForm.get('password').dirty)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="resetPasswordForm.get('password').errors.required">
                    Password is required
                  </div>
                  <div *ngIf="resetPasswordForm.get('password').errors.minlength">
                    Password must be at least 8 characters required
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordRepetition">Repeat your password</label>
                <input
                  type="password"
                  formControlName="passwordRepetition"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                    resetPasswordForm.get('passwordRepetition').errors &&
                      (resetPasswordForm.get('passwordRepetition').touched ||
                      resetPasswordForm.get('passwordRepetition').dirty)
                  }"
                />
                <div
                  *ngIf="
                  resetPasswordForm.get('passwordRepetition').errors &&
                    (resetPasswordForm.get('passwordRepetition').touched ||
                    resetPasswordForm.get('passwordRepetition').dirty)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                    resetPasswordForm.get('passwordRepetition').errors.required
                    "
                  >
                    You must repeat your password
                  </div>
                  <div *ngIf="f.passwordRepetition.errors.mustMatch">
                    Passwords must match
                  </div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid" (click)="updateFirebasePassword()">
                Reset password
            </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<link rel= "preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<style>
  .customNav {
    background-color: red;
    padding-top: 0;
    margin-top: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    z-index: 1000;
  }

  .coloredLine {
    background-color: red;
    height: 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .title {
    font-family: 'Poiret One';
    margin: 0 auto;
    font-size: 50px;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px; 
    background-color: #0f4c5c;
    width: 100%;
    height: 100px;
    position: absolute; 
    color: white !important;
  }
</style>